.maxWidth_1216 {
    max-width: 1216px;
    margin: auto;
}

.maxWidth_1216 p {
    font-family: Montserrat;
    margin: 0;
}

.maxWidth_1216 a {
    font-family: Montserrat;
}

.Breadcrumb-box {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.Breadcrumb-box a {
    margin-right: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

.Breadcrumb-box svg {
    margin-right: 8px;
}

.Breadcrumb-box p {
    margin: 0;
    padding: 0;
    margin-right: 8px;
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    font-family: Montserrat;
    margin: 0;
}

.header-box p {
    color: #010101;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 35px;
    font-family: Bergen Sans

}

.columns-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
}

.columns-container .column-1 {
    display: flex;
    max-width: 1216px;
    width: 100%;
    padding: 22px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 22px;
    background: #F8F8F8;
    overflow: hidden;
}

.columns-container .column-1 > p {
    max-width: 289px;
    color: #DD9E5C;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.columns-container .column-1 .container-box {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.columns-container .column-1 .container-box > p {
    display: none;
}

.columns-container .column-1 .container-box .phone-box p {
    max-width: 289px;
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.columns-container .column-1 .container-box .phone-box .part-2 {
    max-width: 289px;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    font-family: Montserrat;
}

.columns-container .column-1 .container-box .mail-box p {
    max-width: 289px;
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.columns-container .column-1 .container-box .mail-box a {
    max-width: 289px;
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.columns-container .column-1 .container-box .messengers-box p {
    max-width: 289px;
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.columns-container .column-1 .container-box .messengers-box .button-box {
    display: flex;
    flex-direction: row;
}

.columns-container .column-1 .container-box .messengers-box a {
    display: flex;
    height: 48px;
    padding: 10px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #DADADA;
    color: #231A23;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 6px;
    font-family: Montserrat;
}

.columns-container .column-1 .address-box p {
    max-width: 289px;
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Montserrat;
    margin: 0;
}

.columns-container .column-1 .address-box a {
    align-self: stretch;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    font-family: Montserrat;
}


.columns-container .column-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1216px;
    width: 100%;
    padding: 22px;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    border-radius: 22px;
    background: #F8F8F8;
    justify-content: space-between;
    overflow: hidden;
}

.columns-container .column-2 .left-box > p {
    color: #DD9E5C;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.columns-container .column-2 .left-box > div {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.contacts-block_contact-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.columns-container .column-2 .left-box .part-1 p {
    width: 289px;
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.contacts-block .phone-box a {
    font-size: 24px;
    font-weight: 500;
    margin-top: 12px;
    color: var(--main-font-color);
}

.columns-container .column-2 .left-box .part-1 .order-call {
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    text-decoration-line: underline;
    margin-top: 8px;
}

.columns-container .column-2 .left-box .part-2 p {
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.columns-container .column-2 .left-box .part-2 a {
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.columns-container .column-2 .right-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 267px;
}

.columns-container .column-2 .right-box a {
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.columns-container .column-3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1216px;
    width: 100%;
    padding: 22px;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    border-radius: 22px;
    background: #F8F8F8;
    justify-content: space-between;
    overflow: hidden;
}

.columns-container .column-3 .left-box {
    display: flex;
    flex-direction: column;
}

.columns-container .column-3 .left-box > p {
    color: #DD9E5C;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.columns-container .column-3 .left-box > div {
    display: flex;
    margin-top: 32px;
}

.columns-container .column-3 .left-box .part-1 {
    width: 289px;
}

.columns-container .column-3 .left-box .part-1 p {
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.columns-container .column-3 .left-box .part-1 .phone-box {
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.columns-container .column-3 .left-box .part-1 .order-call {
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    margin-top: 8px;
}

.columns-container .column-3 .left-box .part-2 {
    display: flex;
    flex-direction: column;
}

.columns-container .column-3 .left-box .part-2 p {
    color: #474747;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.columns-container .column-3 .left-box .hidden-box {
    display: none;
}

.columns-container .column-3 .left-box .part-2 a {
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.columns-container .column-3 .right-box {
    width: 267px;
}

.columns-container .column-3 .right-box a {
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

footer ul {
    padding: 0;
}