.Breadcrumb-box {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.Breadcrumb-box a {
    margin-right: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
.Breadcrumb-box svg {
    margin-right: 8px;
}
.Breadcrumb-box p {
    margin: 0;
    padding: 0;
    margin-right: 8px;
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
