body {
    font-family: Montserrat;
}

.max-width-1216 {
    max-width: 1216px;
    margin: auto;
}

.Breadcrumb-box a {
    color: #000000;
}

.Breadcrumb-box svg line {
    stroke: #BEBEBE;
}


.block-about-as {
    margin-top: 30px;
    width: 1216px;
    height: 513px;
    flex-shrink: 0;
    border-radius: 22px;
    background: linear-gradient(90deg, #000 32.74%, rgba(0, 0, 0, 0.00) 100%), url('/about_project/images/981f7fbddfbc428aa697982c09add0e7.png'), lightgray 380px -50.976px / 100% 119.874% no-repeat;
}

.block-about-as {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
}

.block-about-as > div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
    padding-left: 40px;
    padding-top: 50px;
}

.block-about-as > div .top_box {
    display: flex;
    max-width: 824px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.block-about-as .top_box .part_1 {
    font-size: 76px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    background: linear-gradient(74deg, #F8050B 0%, #4944F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-transform: unset;
    font-family: "Bergen Sans", serif;
}

.block-about-as .top_box .part_1:after {
    all: unset;
}

.block-about-as > div .top_box .part_2 {
    color: #FFF;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    margin: 0;
    width: 970px;
    font-family: Bergen Sans;
}

.block-about-as > div .top_box .part_2 .br-1 {
    display: none;
}

.block-about-as > div .bottom_box {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.block-about-as > div .bottom_box .part_1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 496.334px;
    width: 100%;
    margin: 0;
    text-indent: 20px;
}

.block-about-as > div .bottom_box .part_2 {
    width: 311.859px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}


.block-catalog {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.block-catalog .top_box {
    display: flex;
    width: 1216px;
    padding: 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 22px;
    background: #F8F8F8;
    justify-content: space-between;
}

.block-catalog .top_box .col_1 {
    display: flex;
    width: 471px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.block-catalog .top_box .col_1 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.block-catalog .top_box .col_1 > div .part_1 {
    color: #231A23;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-catalog .top_box .col_1 > div .part_2 {
    width: 313px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-catalog .top_box .col_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 555px;
}

.block-catalog .top_box .col_2 > p {
    align-self: stretch;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-catalog .top_box .col_2 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.block-catalog .top_box .col_2 > div > p {
    align-self: stretch;
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-catalog .top_box .col_2 > div > p span {
    color: #DD9E5C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.block-catalog .top_box .col_2 > div > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.block-catalog .top_box .col_2 > div > div a {
    display: flex;
    height: 48px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #231A23;
    background: #FFF;

    color: #231A23;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block-catalog .top_box .col_2 > div > a {
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}


.block-catalog .bottom_box {
    display: flex;
    width: 1216px;
    align-items: center;
    gap: 20px;
}

.block-catalog .bottom_box .col_1 {
    display: flex;
    padding: 22px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 22px;
    background: #F8F8F8;
}

.block-catalog .bottom_box .col_1 .box_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.block-catalog .bottom_box .col_1 .box_1 a {
    color: #576E78;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-catalog .bottom_box .col_1 .box_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    align-self: stretch;
}

.block-catalog .bottom_box .col_1 .box_2 .part_1 {
    color: #231A23;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-catalog .bottom_box .col_1 .box_2 .part_2 {
    width: 469px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-catalog .bottom_box .col_1 .box_2 a {
    display: flex;
    height: 48px;
    padding: 10px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #DD9E5C;
    width: max-content;
}

.block-catalog .bottom_box .col_1 .box_2 a {
    color: #231A23;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.block-catalog .bottom_box .col_2 {
    display: flex;
    padding: 22px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    border-radius: 22px;
    background: #F8F8F8;
}

.block-catalog .bottom_box .col_2 .box_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.block-catalog .bottom_box .col_2 .box_1 a {
    color: #576E78;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-catalog .bottom_box .col_2 .box_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    align-self: stretch;
}

.block-catalog .bottom_box .col_2 .box_2 > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block-catalog .bottom_box .col_2 .box_2 .part_1 {
    color: #231A23;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-catalog .bottom_box .col_2 .box_2 .part_2 {
    width: 469px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-catalog .bottom_box .col_2 .box_2 .part_3 {
    display: flex;
    height: 48px;
    padding: 10px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #DD9E5C;
    width: max-content;
}

.block-catalog .bottom_box .col_2 .box_2 .part_3 p {
    color: #231A23;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-catalog .bottom_box .col_2 .box_2 .part_4 {
    display: flex;
    height: 48px;
    padding: 10px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #231A23;

    color: #231A23;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: max-content;
}


.block-statistics {
    display: flex;
    width: 1216px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: 110px;
}

.block-statistics > p {
    color: #231A23;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-statistics > div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.block-statistics > div .item {
    display: flex;
    height: 190px;
    width: 289px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    background: #F8F8F8;
}

.block-statistics > div .item .part_1 {
    align-self: stretch;
    color: #DD9E5C;
    text-align: center;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-statistics > div .item .part_2 {
    align-self: stretch;
    color: #576E78;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}


.block-advantages {
    display: flex;
    width: 1221px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-top: 109px;
}

.block-advantages > p {
    color: #231A23;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-advantages > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.block-advantages > div .top_box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.block-advantages > div .top_box .right_box {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: #F8F8F8;
    width: 600px;
}

.block-advantages > div .top_box .right_box img {
    display: flex;
    height: 210px;
    padding: 24.108px 12.354px 24.831px 18.078px;
    justify-content: flex-end;
    align-items: center;
}

.block-advantages > div .top_box .right_box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
}

.block-advantages > div .top_box .right_box .part_1 {
    align-self: stretch;
    color: #231A23;;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
    width: 318px;
    border-radius: 12px;
}

.block-advantages > div .top_box .right_box .part_2 {
    align-self: stretch;
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-advantages > div .top_box .left_box {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 12px;
    background: #F8F8F8;
    width: 600px;
}

.block-advantages > div .top_box .left_box img {
    height: 210px;
}

.block-advantages > div .top_box .left_box > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

.block-advantages > div .top_box .left_box .part_1 {
    align-self: stretch;
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-advantages > div .top_box .left_box .part_2 {
    align-self: stretch;
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.block-advantages > div .top_box .left_box .part_3 {
    align-self: stretch;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-advantages > div .top_box .left_box .part_4 {
    align-self: stretch;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-advantages > div .bottom_box {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 12px;
    background: #F8F8F8;
}

.block-advantages > div .bottom_box > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.block-advantages > div .bottom_box > div img {
    height: 260px;
}

.block-advantages > div .bottom_box .box_1 .part_1 {
    align-self: stretch;
    color: #231A23;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 287px;
    margin: 0;
    font-family: Bergen Sans;
}

.block-advantages > div .bottom_box .box_1 .part_2 {
    align-self: stretch;
    color: #576E78;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 287px;
    margin: 0;
}

.block-advantages > div .bottom_box .box_2 a {
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-advantages > div .bottom_box .box_3 a {
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.block-advantages > div .bottom_box .box_4 p {
    width: 236.882px;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}


.block-reviews {
    margin-top: 110px;
    display: flex;
    width: 1216px;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
}

.block-reviews > p {
    flex: 1 0 0;
    color: #231A23;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block-reviews .item_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    height: 162px;
}

.block-reviews .item_box .top_box {
    display: flex;
}

.block-reviews .item_box .icon-star-active {
    width: 18px;
    height: 18px;
    display: block;
    content: '';
    background-image: url("data:image/svg+xml, %3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2995 7.76981C15.2436 7.60033 15.1408 7.44926 15.0025 7.33334C14.8642 7.21741 14.6957 7.14116 14.5158 7.11301L11.6924 6.66461L10.3835 4.17911C10.3001 4.02088 10.1738 3.88815 10.0183 3.79548C9.8628 3.70281 9.6842 3.65379 9.50208 3.65379C9.31996 3.65379 9.14135 3.70281 8.98587 3.79548C8.83038 3.88815 8.70402 4.02088 8.62065 4.17911L7.31179 6.66461L4.48842 7.11301C4.30866 7.1416 4.14044 7.21802 4.00221 7.33389C3.86398 7.44976 3.76108 7.6006 3.7048 7.76986C3.64852 7.93912 3.64104 8.12026 3.68317 8.2934C3.72531 8.46654 3.81543 8.625 3.94365 8.75138L5.95814 10.7359L5.52211 13.4985C5.49414 13.6745 5.51636 13.8545 5.58634 14.019C5.65631 14.1834 5.77134 14.3258 5.91876 14.4304C6.06617 14.5351 6.24027 14.598 6.42191 14.6122C6.60355 14.6265 6.78568 14.5915 6.94828 14.5111L9.50208 13.2521L12.0559 14.5111C12.2186 14.5913 12.4006 14.6262 12.5822 14.6119C12.7638 14.5976 12.9378 14.5346 13.0852 14.43C13.2325 14.3254 13.3475 14.1831 13.4176 14.0188C13.4876 13.8544 13.5099 13.6744 13.4821 13.4985L13.0461 10.7359L15.0606 8.75138C15.1892 8.62525 15.2796 8.46679 15.3218 8.29355C15.3639 8.1203 15.3562 7.93904 15.2995 7.76981Z' fill='%23DD9E5C'/%3E%3C/svg%3E");
}

.block-reviews .item_box .icon-star-not-active {
    width: 18px;
    height: 18px;
    display: block;
    content: '';
    background-image: url("data:image/svg+xml, %3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2995 7.76984C15.2436 7.60035 15.1408 7.44928 15.0025 7.33336C14.8641 7.21744 14.6957 7.14118 14.5158 7.11303L11.6923 6.66463L10.3835 4.17913C10.3001 4.0209 10.1737 3.88817 10.0183 3.7955C9.86278 3.70283 9.68417 3.65381 9.50205 3.65381C9.31993 3.65381 9.14133 3.70283 8.98584 3.7955C8.83036 3.88817 8.70399 4.0209 8.62062 4.17913L7.31177 6.66463L4.48839 7.11303C4.30864 7.14162 4.14042 7.21804 4.00219 7.33391C3.86396 7.44978 3.76106 7.60062 3.70478 7.76988C3.6485 7.93914 3.64101 8.12028 3.68315 8.29343C3.72528 8.46657 3.81541 8.62502 3.94363 8.75141L5.95811 10.7359L5.52209 13.4985C5.49411 13.6745 5.51633 13.8546 5.58631 14.019C5.65629 14.1834 5.77131 14.3258 5.91873 14.4304C6.06615 14.5351 6.24025 14.598 6.42189 14.6122C6.60352 14.6265 6.78566 14.5915 6.94826 14.5111L9.50205 13.2521L12.0559 14.5111C12.2185 14.5913 12.4006 14.6262 12.5822 14.6119C12.7638 14.5976 12.9378 14.5347 13.0851 14.43C13.2325 14.3254 13.3475 14.1831 13.4175 14.0188C13.4876 13.8544 13.5099 13.6744 13.4821 13.4985L13.0461 10.7359L15.0605 8.75141C15.1892 8.62527 15.2796 8.46681 15.3217 8.29357C15.3639 8.12033 15.3562 7.93906 15.2995 7.76984ZM14.5071 8.21498L12.2156 10.4723L12.7117 13.6147C12.7178 13.6523 12.7132 13.6909 12.6983 13.7261C12.6834 13.7613 12.6588 13.7918 12.6273 13.8142C12.5957 13.8366 12.5584 13.8501 12.5195 13.853C12.4807 13.856 12.4417 13.8484 12.407 13.831L9.50205 12.3989L6.5971 13.8311C6.56237 13.8484 6.52341 13.856 6.48453 13.8531C6.44565 13.8501 6.40837 13.8367 6.37682 13.8143C6.34527 13.7919 6.32068 13.7614 6.30578 13.7262C6.29088 13.691 6.28624 13.6524 6.29239 13.6148L6.78846 10.4723L4.49704 8.21495C4.46968 8.18794 4.45045 8.15408 4.44146 8.1171C4.43248 8.08011 4.43409 8.04142 4.44611 8.00527C4.45813 7.96912 4.4801 7.9369 4.50961 7.91214C4.53912 7.88737 4.57504 7.87103 4.61343 7.86489L7.82494 7.35486L9.31373 4.5277C9.33154 4.49388 9.35853 4.46551 9.39175 4.4457C9.42497 4.42589 9.46314 4.41541 9.50205 4.41541C9.54097 4.41541 9.57913 4.42589 9.61235 4.4457C9.64557 4.46551 9.67257 4.49388 9.69037 4.5277L11.1792 7.35486L14.3907 7.86489C14.4291 7.87103 14.465 7.88737 14.4945 7.91214C14.524 7.9369 14.546 7.96912 14.558 8.00527C14.57 8.04142 14.5716 8.08011 14.5626 8.1171C14.5537 8.15408 14.5345 8.18796 14.5071 8.21498Z' fill='%23DADADA'/%3E%3C/svg%3E");
}

.block-reviews .item_box .item p {
    align-self: stretch;
    color: #231A23;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.block-reviews .item_box .item {
    display: flex;
    flex-direction: column;
    width: 598px;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.block-reviews .item_box .item .bottom_box {
    height: 108px;
    overflow: hidden;
}

.block-reviews .item_box .item p span {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #DD9E5C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
}

.block-reviews .item_box .item span {
    background: white;
    padding-left: 45px;
}

.block-reviews > button {
    display: flex;
    height: 48px;
    padding: 10px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid #D2D2D2;
    background: unset;
    align-self: center;

}

.block-reviews > button p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}


.block_SEO {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 112px;
    align-items: center;
}

.block_SEO .top_box {
    align-self: stretch;
    text-align: center;
    font-size: 43px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    font-family: Bergen Sans;
}

.block_SEO .bottom_box {
    position: relative;
    width: 804px;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    height: 135px;
    margin: 0;
    text-indent: 20px;
}

.block_SEO .bottom_box br {
    display: none;
}

.block_SEO .button_box {
    display: none;
}

.block_SEO .block_SEO_handle_span {
    position: absolute;
    right: 0;
    bottom: 4px;
    gap: 4px;
    background: white;
    width: 100%;
    max-width: 647px;
    align-items: self-end;
    display: inline-flex;
}

.block_SEO .block_SEO_handle_span p {
    margin: 0;
    text-indent: 0;
    margin-bottom: -4px;
}

.block_SEO .block_SEO_handle_span button {
    color: #231A23;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    border: none;
    padding: 0;
    cursor: pointer;
    background: white;
    display: inline-flex
}


footer ul {
    padding: 0;
}

