@media (max-width: 1248px) {
    .max-width-1216 {
        max-width: 1216px;
        margin: auto;
        /*overflow: hidden;*/
        padding-left: 20px;
        padding-right: 20px;
    }


    .block-about-as {
        width: 100%;
    }

    .block-about-as > div .top_box .part_2 {
        width: 100%;
    }

    .block-about-as > div .top_box .part_2 .br-1 {
        display: block;
    }

    .block-catalog {
        width: 100%;
    }

    .block-catalog .top_box {
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }

    .block-catalog .bottom_box {
        width: 100%;
        flex-wrap: wrap;
    }


    .block-statistics {
        width: 100%;
    }

    .block-statistics > div {
        flex-wrap: wrap;
    }


    .block-advantages {
        width: 100%;
    }

    .block-advantages > div .top_box {
        flex-wrap: wrap;
        width: 100%;
    }

    .block-advantages > div .top_box .right_box {
        flex-wrap: wrap;
        width: 100%;
    }

    .block-advantages > div .top_box .left_box {
        flex-wrap: wrap;
        width: 100%;
    }

    .block-advantages > div .bottom_box {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }


    .block-reviews {
        width: 100%;
    }

    .block-reviews .item_box {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }


    .block_container__6 {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .block_container__6 .bottom_box {
        width: 100%;
    }


}

@media (max-width: 768px) {
    .max-width-1216 {
        max-width: 360px;
    }

    header {
        background: #FFF;
        border-bottom: 1px solid #F8F8F8;
    }

    header .mobile-header {
        background: #FFF;
    }

    header .mobile-header_logo {
        border-bottom: 1px solid #F8F8F8;
    }

    header .mobile-header_btn-wrapper a {
        background: #F8F8F8;
        color: #1A0F1A;
    }

    header .mobile-header_btn-wrapper a img {
        filter: invert(1);
    }

    header .mobile-header_btn-wrapper div {
        background: #F8F8F8;
    }

    header .mobile-header_btn-wrapper div span {
        background: #1A0F1A;
    }


    .Breadcrumb-box {
        margin-top: 10px;
    }

    .block-about-as {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000 32.74%, rgba(0, 0, 0, 0.00) 100%), url('/about_project/images/Rectangle 2890.png'), lightgray 50% / cover no-repeat;
        background-repeat: round;
    }

    .block-about-as > div {
        width: 100%;
        padding: 32px 22px;
        gap: 113px;
    }

    .block-about-as .top_box .part_1 {
        font-size: 43px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-about-as > div .top_box .part_2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100%;
    }

    .block-about-as > div .top_box .part_2 svg {
        width: 24.615px;
        height: 30px;
        margin-bottom: -7px;
    }

    .block-about-as > div .bottom_box {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .block-about-as > div .bottom_box .part_1 {
        align-self: stretch;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 276px;
    }

    .block-about-as > div .bottom_box .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 276px;
        width: 100%;
    }

    .block-catalog {
        WIDTH: 100%;
    }

    .block-catalog .top_box {
        flex-direction: column;
        width: 100%;
    }

    .block-catalog .top_box .col_1 {
        width: 100%;
    }

    .block-catalog .top_box .col_1 svg {
        width: 50px;
        height: 50px;
    }

    .block-catalog .top_box .col_2 {
        gap: 20px;
        width: 100%;
    }

    .block-catalog .top_box .col_1 > div .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-catalog .top_box .col_1 > div .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }

    .block-catalog .top_box .col_2 > p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .block-catalog .top_box .col_2 > div > p {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-catalog .top_box .col_2 > div > p span {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-catalog .top_box .col_2 > div > div {
        gap: 4px;
    }

    .block-catalog .top_box .col_2 > div > div a {
        display: flex;
        padding: 8px 14px;
        align-items: center;
        gap: 3.926px;
        border-radius: 27.479px;
        height: 100%;

        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .block-catalog .top_box .col_2 > div > a {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-catalog .bottom_box {
        flex-direction: column;
        width: 100%;
    }

    .block-catalog .bottom_box .col_1 .box_1 > svg {
        width: 50px;
        height: 50px;
    }

    .block-catalog .bottom_box .col_1 .box_1 a {
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-catalog .bottom_box .col_1 .box_2 .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-catalog .bottom_box .col_1 .box_2 .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }

    .block-catalog .bottom_box .col_1 .box_2 a {
        display: flex;
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 28px;
        height: 34px;
    }

    .block-catalog .bottom_box .col_1 .box_2 a p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }

    .block-catalog .bottom_box .col_1 .box_2 a svg {
        width: 18px;
        height: 18px;
    }

    .block-catalog .bottom_box .col_2 {
        width: 100%;
    }

    .block-catalog .bottom_box .col_2 .box_1 > svg {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
    }

    .block-catalog .bottom_box .col_2 .box_1 a {
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-catalog .bottom_box .col_2 .box_2 {
        gap: 16px;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_3 {
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 28px;
        width: max-content;
        height: 34px;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_3 svg {
        width: 18px;
        height: 18px;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_3 p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_3 span {
        display: none;
    }

    .block-catalog .bottom_box .col_2 .box_2 .part_4 {
        padding: 8px 14px;
        align-items: center;
        gap: 3.926px;
        border-radius: 27.479px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 34px;
    }


    .block-statistics {
        width: 100%;
        margin-top: 60px;
        gap: 30px;
    }

    .block-statistics p {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-statistics > div {
        flex-wrap: wrap;
    }

    .block-statistics > div .item {
        gap: 20px;
        min-width: 150px;
        height: 130px;
    }

    .block-statistics > div .item .part_1 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-statistics > div .item .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .block-advantages {
        margin-top: 60px;
        width: 100%;
        gap: 30px;
    }

    .block-advantages > p {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-advantages > div .top_box {
        flex-direction: column;
    }

    .block-advantages > div .top_box .right_box {
        width: 100%;
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 32px;
        align-self: stretch;
        border-radius: 12px;
    }

    .block-advantages > div .top_box .right_box img {
        padding: 24px 50px 24px 50px;
        width: 280px;
    }

    .block-advantages > div .top_box .right_box .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100%;
        font-family: Montserrat;
    }

    .block-advantages > div .top_box .right_box .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .block-advantages > div .top_box .left_box {
        flex-direction: column;
        width: 100%;
    }

    .block-advantages > div .top_box .left_box > div {
        gap: 16px;
    }

    .block-advantages > div .top_box .left_box .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: Montserrat;
    }

    .block-advantages > div .top_box .left_box .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .block-advantages > div .top_box .left_box .part_3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-advantages > div .top_box .left_box .part_4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-advantages > div .bottom_box {
        flex-direction: column;
        align-content: center;
    }

    .block-advantages > div .bottom_box .box_1 .part_1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: Montserrat;
    }

    .block-advantages > div .bottom_box .box_1 .part_2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    .block-advantages > div .bottom_box .box_2 a {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-advantages > div .bottom_box .box_3 a {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    .block-advantages > div .bottom_box .box_4 p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .block-reviews {
        margin-top: 60px;
        width: 100%;
        gap: 30px;
    }

    .block-reviews > p {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .block-reviews .item_box {
        flex-direction: column;
        width: 100%;

    }

    .block-reviews .item_box .item {
        width: 100%;
        gap: 18px;
    }

    .block-reviews .item_box .item p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .block-reviews .item_box .item p span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .block-reviews > button {
        padding: 8px 14px 10px 14px;
        justify-content: center;
        align-items: center;
        gap: 3.926px;
        border-radius: 27.479px;
        height: 100%;
    }

    .block-reviews > button p {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .block-reviews > button svg {
        width: 18px;
        height: 18px;
    }


    .block_SEO {
        margin-top: 60px;
        gap: 22px;
        align-items: baseline;
        width: 320px;
    }

    .block_SEO .top_box {
        font-size: 20px;
        font-weight: 600;
    }

    .block_SEO .bottom_box {
        height: 258px;
        overflow: hidden;
        color: #000;
        text-overflow: ellipsis;;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
    }

    .block_SEO .bottom_box br {
        display: block;
    }

    .block_SEO .button_box {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .block_SEO .button_box button {
        color: #231A23;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
        border: none;
        background: unset;
        padding: 0;
        margin-top: -12px;
    }

    .block_SEO .block_SEO_handle_span {
        display: none;
    }


}